body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2, h3 {
    margin-top: 20px;
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: justify;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

form div {
    margin-bottom: 10px;
}

button[type="submit"] {
    margin-top: 10px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
